.navCov{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 200;
}
.navInn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85%;
   max-width: 1440px;
}
.bookCon{
    color: white;
    background: #050505de;
    width: fit-content;
    padding: 5%;
    border-radius: 6px;
}
.navMid{
    display: flex;
    justify-content: space-between;
    width: 21%;
}
.navRoutes{
    cursor: pointer;
    color: #222;
    transition: color 0.3s ease-in-out;
}
.navRoutes:hover{
    color: #ffa500;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.right{
    width: 28%;
    display: flex;
    justify-content: flex-end;
}